
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ------------------------------------------------------------------------
    // Helper Functions
    // ------------------------------------------------------------------------

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function userProfileHasCorrectIdOnCreate(userId) {
      return request.resource.data.id == userId;
    }

    function hasCorrectOwnerDataOnCreate(userId) {
      return request.resource.data.userId == userId;
    }

    function isAdmin() {
      // isSuperAdmin does not require a DB read and is faster.
      let isSuperAdmin = isSignedIn() && request.auth.token.email == 'rajmycarvalue@gmail.com';
      // isRoleAdmin requires a DB read.
      let isRoleAdmin = isSignedIn() && exists(/databases/$(database)/documents/users/$(request.auth.uid)) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
      return isSuperAdmin || isRoleAdmin;
    }

    // ------------------------------------------------------------------------
    // User Rules
    // ------------------------------------------------------------------------
    match /users/{userId} {
      allow get, update: if isOwner(userId) || isAdmin();
      allow list, delete: if isAdmin();
      allow create: if (isOwner(userId) && userProfileHasCorrectIdOnCreate(userId)) || isAdmin();

      match /carValuations/{carValuationId} {
        allow get, list, delete: if isOwner(userId) || isAdmin();
        allow create: if isOwner(userId) && hasCorrectOwnerDataOnCreate(userId);
        allow update: if false;
      }

      match /wallet/{walletId} {
        allow get, list, write: if isOwner(userId) || isAdmin();
      }

      match /withdrawalRequests/{requestId} {
        allow get, list: if isOwner(userId) || isAdmin();
        allow create: if isOwner(userId);
        allow update, delete: if false;
      }
    }

    // ------------------------------------------------------------------------
    // Daily Fresh Car Rules
    // ------------------------------------------------------------------------
    match /dailyFreshCars/{carId} {
        // Everyone can view fresh car listings
        allow read: if true;
        // Only admins can add or edit listings
        allow write: if isAdmin();
    }
    
    // ------------------------------------------------------------------------
    // Collection Group Rules for Admin Access
    // ------------------------------------------------------------------------
    match /{path=**}/withdrawalRequests/{requestId} {
      allow read, update, delete: if isAdmin();
    }
  }
}
